body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 300;
    background-color: #fff;
    color: #fff;
    text-align: center;
}


h1, h2{
    font-weight: 300;
    margin: 0;
}